{% extends 'base.html' %}
{% load static %}

{% block title %} Manajemen Pelatihan {% endblock title %}

{% block navbar %}
{% with variant='light' %}
{{ block.super }}
{% endwith %}
{% endblock navbar %}

{% block page_header_content %}
<div class="page-header pt-7 bg-white-blue"></div>
<div class="container sticky-top">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-evenly flex-wrap gap-4 mb-3 text-lg">
                <div><strong>Judul:</strong> {{ pelatihan.judul }}</div>
                <div><strong>Durasi:</strong> {{ pelatihan.durasi }} JP</div>
                <div><strong>Tanggal Mulai:</strong> {{ pelatihan.tanggal_mulai|date:"d M Y" }}</div>
                <div><strong>Tanggal Selesai:</strong> {{ pelatihan.tanggal_selesai|date:"d M Y" }}</div>
            </div>
            <hr />

            <h6 class="mt-4 mb-2">Progress Pengisian Dokumen: {{ pelatihan.persentase_progress }}%</h6>
            <div class="progress" style="height: 15px;"> {# Adjust height as needed #}
                <div 
                    class="progress-bar bg-success" 
                    role="progressbar" 
                    style="width: {{ pelatihan.persentase_progress }}%;" 
                    aria-valuenow="{{ pelatihan.persentase_progress }}" 
                    aria-valuemin="0" 
                    aria-valuemax="100"
                >
                    {{ pelatihan.persentase_progress }}%
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pb-2 d-flex justify-content-end">
    <a href="{% url 'edit' pelatihan.id %}" class="btn btn-sm btn-warning mt-3 pb-2">
        <i class="fa-solid fa-edit"></i> Edit Detail Pelatihan
    </a>
</div>
<hr />

{% endblock page_header_content %}

{% block content %}
<div class="container">
    <div class="card mb-4">
        <div class="card-body px-0 pt-0 pb-2">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ formset.management_form }}
                <div class="table-responsive p-0">
                    <table class="table table-striped table-bordered align-items-center mb-0" aria-label="Detail Pelatihan">
                        <thead class="table-dark">
                            <tr>
                                <th class="text-center text-uppercase text-xs font-weight-bolder"
                                    scope="col">Nomor</th>
                                <th class="text-center text-uppercase text-xs font-weight-bolder"
                                    scope="col">Nama Dokumen</th>
                                <th class="text-center text-uppercase text-xs font-weight-bolder"
                                    scope="col">Aksi</th>
                                <th class="text-center text-uppercase text-xs font-weight-bolder"
                                    scope="col">Status</th>
                                <th class="text-center text-uppercase text-xs font-weight-bolder"
                                    scope="col">Notes Admin</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for form in formset %}
                            <tr>
                                {{ form.id }}
                                <td class="text-center text-sm font-weight-bold">{{ forloop.counter }}</td>
                                <td class="px-sm-4 px-3 text-sm font-weight-bold" style="white-space:normal">{{ form.instance.get_nama_display }}</td>
                                <td class="d-flex justify-content-center align-items-center gap-2 text-sm font-weight-bold">
                                    {% if form.instance.file_url %}
                                        <a href="#" class="btn btn-sm btn-success view-document-btn mt-3"
                                        data-bs-toggle="modal"
                                        data-bs-target="#documentModal"
                                        data-document-url="{{ form.instance.file_url.url }}"
                                        data-document-title="{{ form.instance.get_nama_display }}">
                                            <i class="fa-solid fa-eye"></i> Lihat
                                        </a>
                                    {% else %}
                                        <a class="btn btn-sm btn-secondary disabled mt-3">
                                            <i class="fa-solid fa-eye"></i> Lihat
                                        </a>
                                    {% endif %}

                                    <div style="display: none;">{{ form.file_url }}</div>
                                    <label for="{{ form.file_url.id_for_label }}" class="btn btn-sm btn-primary custom-file-label mt-3">
                                        <i class="fa-solid fa-upload"></i> Unggah
                                    </label>
                                    
                                    <form method="post" action="{% url 'skip_document' pelatihan.id form.instance.id %}" class="d-flex align-items-center">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm mt-3">
                                        <i class="fa-solid fa-xmark"></i> Skip
                                        </button>
                                    </form>
                                </td>
                                <td class="text-center text-sm font-weight-bold">
                                    {% if form.instance.status == STATUS_DOKUMEN_PERLU_REVISI %}
                                        <span class="badge rounded-pill bg-danger">{{ form.instance.get_status_display }}</span>
                                    {% elif form.instance.status == STATUS_DOKUMEN_TERVERIFIKASI %}
                                        <span class="badge rounded-pill bg-success">{{ form.instance.get_status_display }}</span>
                                    {% elif form.instance.status == STATUS_DOKUMEN_DALAM_PROSES_VERIFIKASI %}
                                        <span class="badge rounded-pill bg-info">{{ form.instance.get_status_display }}</span>
                                    {% else %}
                                        <span class="badge rounded-pill bg-secondary">{{ form.instance.get_status_display }}</span>
                                    {% endif %}
                                </td>
                                <td class="px-sm-4 px-3 text-center text-sm font-weight-bold" style="white-space:normal">
                                    {% if form.instance.notes %}
                                        {{ form.instance.notes }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
            <div class="text-end pe-2">
                {% if pelatihan.persentase_progress == 100 %}
                    <a href="{% url 'download_merged_docs' pelatihan.id %}" class="btn btn-sm btn-success mt-3 pb-2">
                        <i class="fa-solid fa-download"></i> Download Semua Dokumen
                    </a>
                {% else %}
                    <a class="btn btn-sm btn-secondary mt-3 pb-2 disabled" aria-disabled="true">
                        <i class="fa-solid fa-download"></i> Download Semua Dokumen
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="documentModal" tabindex="-1" aria-labelledby="documentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="documentModalLabel">Pratinjau Dokumen</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe id="documentIframe" src="" frameborder="0" style="width: 100%; height: 70vh;"></iframe>
            </div>
            <div class="modal-footer">
                <a id="downloadDocumentBtn" target="_blank" class="btn btn-primary">Unduh Asli</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'pelatihan/js/document_modal.js' %}"></script>
{% endblock script %}