{% extends 'base.html' %}

{% block title %} Manajemen Pelatihan {% endblock title %}

{% block navbar %}
{% with variant='light' %}
{{ block.super }}
{% endwith %}
{% endblock navbar %}

{% block page_header_content %}
<div class="page-header pt-7 pb-2 bg-white-blue"></div>
<div class="container sticky-top">
    <div class="card mb-4">
        <div class="card-body">
            <div class="d-flex justify-content-evenly flex-wrap gap-4 mb-3 text-lg">
                <div><strong>Nama:</strong> {{ pelatihan.judul }}</div>
                <div><strong>Tanggal Mulai:</strong> {{ pelatihan.tanggal_mulai|date:"d M Y" }}</div>
                <div><strong>Tanggal Selesai:</strong> {{ pelatihan.tanggal_selesai|date:"d M Y" }}</div>
                <div><strong>Durasi:</strong> {{ pelatihan.durasi }} Hari</div>
            </div>

            <h6 class="mt-4 mb-2">Progress Pelatihan: {{ pelatihan.persentase_progress }}%</h6>
            <div class="progress" style="height: 25px;"> {# Adjust height as needed #}
                <div 
                    class="progress-bar bg-success" 
                    role="progressbar" 
                    style="width: {{ pelatihan.persentase_progress }}%;" 
                    aria-valuenow="{{ pelatihan.persentase_progress }}" 
                    aria-valuemin="0" 
                    aria-valuemax="100"
                >
                    {{ pelatihan.persentase_progress }}%
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_header_content %}

{% block content %}
<div class="container">
    <div class="card mb-4">
        <div class="card-body px-0 pt-0 pb-2">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ formset.management_form }}
                <div class="table-responsive p-0">
                    <table class="table table-striped table-bordered align-items-center mb-0" aria-label="Detail Pelatihan">
                        <thead>
                            <tr>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                                    scope="col">Nomor</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                                    scope="col">Nama Dokumen</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                                    scope="col">Aksi</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                                    scope="col">Status</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                                    scope="col">Notes Admin</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for form in formset %}
                            <tr>
                                {{ form.id }}
                                <td class="ps-sm-4 ps-3 text-sm font-weight-bold">{{ forloop.counter }}</td>
                                <td class="ps-sm-4 ps-3 text-sm font-weight-bold">{{ form.instance.get_nama_display }}</td>
                                <td class="d-flex justify-content-evenly align-items-center justify-content-between text-sm font-weight-bold">
                                    {% if form.instance.file_url %}
                                        <a href="{{ form.instance.file_url.url }}" target="_blank" class="btn btn-sm btn-warning mt-3">
                                            <i class="fa-solid fa-eye"></i> Lihat
                                        </a>
                                    {% else %}
                                        <a class="btn btn-sm btn-warning disabled mt-3">
                                            <i class="fa-solid fa-eye"></i> Lihat
                                        </a>
                                    {% endif %}

                                    {{ form.file_url }}

                                    <label for="{{ form.file_url.id_for_label }}" class="btn btn-sm btn-primary custom-file-label mt-3">
                                        <i class="fa-solid fa-upload"></i> Unggah
                                    </label>
                                    
                                    <form method="post" action="{% url 'skip_document' pelatihan.id form.instance.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm mt-3">
                                        <i class="fa-solid fa-xmark"></i> Skip
                                        </button>
                                    </form>
                                </td>
                                <td class="ps-sm-4 ps-3 text-sm font-weight-bold">{{ form.instance.get_status_display }}</td>
                                <td class="ps-sm-4 ps-3 text-sm font-weight-bold" style="white-space:normal">
                                    {% if form.instance.notes %}
                                        {{ form.instance.notes }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}