services:
  web:
    build: .
    container_name: sipena-container
    ports:
      - "8001:8000"
    env_file:
      - .env
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    command: >
      sh -c "chown -R appuser:appuser /app/media /app/staticfiles

volumes:
  static_volume:
  media_volume:
