services:
  web:
    build: .
    container_name: sipena-container
    ports:
      - "8001:8000"
    env_file:
      - .env
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    command: >
      sh -c "chown -R www-data:www-data /app/media /app/staticfiles &&
             exec su-exec www-data gunicorn sipena.wsgi:application --bind 0.0.0.0:8000"

volumes:
  static_volume:
  media_volume:
